@import '../../../styles/colors';

.paginator {
    width: 100%;
}

.pi-search {
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $primaryColor;
        font-weight: bold;
    }
}